version: "3.9"

services:
  tensorflow:
    image: tensorflow/tensorflow:latest-jupyter
    container_name: tensorflow_service
    ports:
      - "8888:8888"
    volumes:
      - ../models:/tf/notebooks

  django:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: django_service
    ports:
      - "8001:8001"
    volumes:
      - ../:/app
      - ../models:/app/models
    depends_on:
      - tensorflow
    command: python manage.py runserver 0.0.0.0:8001
